table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  padding: 10px;
}

.interactive {
  background-color: pink;
}
.gd {
  background-color: lightblue;
}

main h3 {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
